


<h2 class="text-primary text-center mt-3">Search for a User's Photos!</p>

<%= form_with url: '/search', method: 'get', local: true do |f| %>
  <div class="form-group mx-auto text-center mt-5" style="width: 40%;">
    <%= f.label :user_id, "User ID", class:"text-info" %>  
    <%= f.text_field :user_id, class:"form-control" %>

    <%= f.submit "Search", class:"btn btn-success px-3 py-2 mt-3"%>
  </div>
<% end %>

<% if @user_id %>
  
  <span class="h2 text-dark"><%= @profile.first_name %></span>
  <span class="h2 text-dark"><%= @profile.last_name %></span>
  <span class="text-left"> - <%= link_to "Profile", "https://www.flickr.com/people/#{@profile.id}" %></span>
  <div class="photos d-flex d-flex-row flex-wrap">

    <% @photos.each do |photo| %>
      <div class="mx-2 my-3" style="width: 30%;">
        <a href=<%=Flickr.url(photo)%>><img src=<%= Flickr.url(photo) %> width="100%"  ></a>
      </div>
    <% end %>

  </div>
<% end %>